    /*
    Flaticon icon font: Flaticon
    Creation date: 19/02/2016 14:43
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-add-new-cloud:before { content: "\f100"; }
.flaticon-add-new-document:before { content: "\f101"; }
.flaticon-add-sign:before { content: "\f102"; }
.flaticon-advance-key:before { content: "\f103"; }
.flaticon-arrow-address-back:before { content: "\f104"; }
.flaticon-arrow-left-side:before { content: "\f105"; }
.flaticon-arrow-pointing-down:before { content: "\f106"; }
.flaticon-arrow-pointing-down-in-a-circle:before { content: "\f107"; }
.flaticon-arrow-pointing-right:before { content: "\f108"; }
.flaticon-arrow-pointing-up:before { content: "\f109"; }
.flaticon-arrow-up:before { content: "\f10a"; }
.flaticon-arrows-hitting:before { content: "\f10b"; }
.flaticon-back-arrow:before { content: "\f10c"; }
.flaticon-bank-sign:before { content: "\f10d"; }
.flaticon-bar-diagram:before { content: "\f10e"; }
.flaticon-battery-power:before { content: "\f10f"; }
.flaticon-big-ring:before { content: "\f110"; }
.flaticon-big-trash-container-from-side-view:before { content: "\f111"; }
.flaticon-biological-radioactive:before { content: "\f112"; }
.flaticon-bottom-back:before { content: "\f113"; }
.flaticon-box-document-paper:before { content: "\f114"; }
.flaticon-broadcast-microphone:before { content: "\f115"; }
.flaticon-button-advance-next-song:before { content: "\f116"; }
.flaticon-button-on-off:before { content: "\f117"; }
.flaticon-button-rewind:before { content: "\f118"; }
.flaticon-calculator:before { content: "\f119"; }
.flaticon-card-reader-sd-photos:before { content: "\f11a"; }
.flaticon-center-text:before { content: "\f11b"; }
.flaticon-chat-speech-bubbles:before { content: "\f11c"; }
.flaticon-checkered:before { content: "\f11d"; }
.flaticon-cinema-ticket:before { content: "\f11e"; }
.flaticon-cinema-ticket-1:before { content: "\f11f"; }
.flaticon-circular-cut:before { content: "\f120"; }
.flaticon-circular-stop-button:before { content: "\f121"; }
.flaticon-clip:before { content: "\f122"; }
.flaticon-close-envelope:before { content: "\f123"; }
.flaticon-closed-folder:before { content: "\f124"; }
.flaticon-cloud-full-of-rain:before { content: "\f125"; }
.flaticon-cloud-upload:before { content: "\f126"; }
.flaticon-computer-screen:before { content: "\f127"; }
.flaticon-computer-window:before { content: "\f128"; }
.flaticon-contrast-button:before { content: "\f129"; }
.flaticon-conversation-speech-bubbles:before { content: "\f12a"; }
.flaticon-covered-box:before { content: "\f12b"; }
.flaticon-create-list-button:before { content: "\f12c"; }
.flaticon-cross-sign:before { content: "\f12d"; }
.flaticon-curved-arrow:before { content: "\f12e"; }
.flaticon-cutting-tool-selection:before { content: "\f12f"; }
.flaticon-dark-quadrate:before { content: "\f130"; }
.flaticon-dark-triangle:before { content: "\f131"; }
.flaticon-day-27-calendar:before { content: "\f132"; }
.flaticon-delete-file:before { content: "\f133"; }
.flaticon-delete-file-from-cloud:before { content: "\f134"; }
.flaticon-directional-arrow-on-a-circle:before { content: "\f135"; }
.flaticon-divide-symbol:before { content: "\f136"; }
.flaticon-dot:before { content: "\f137"; }
.flaticon-down-arrow-button:before { content: "\f138"; }
.flaticon-down-arrow-in-circle:before { content: "\f139"; }
.flaticon-down-triangle-shape:before { content: "\f13a"; }
.flaticon-download-arrow:before { content: "\f13b"; }
.flaticon-download-file-from-cloud:before { content: "\f13c"; }
.flaticon-drawer:before { content: "\f13d"; }
.flaticon-duplicate-square:before { content: "\f13e"; }
.flaticon-eject-circular-button:before { content: "\f13f"; }
.flaticon-eject-symbol:before { content: "\f140"; }
.flaticon-electronic-print-machine:before { content: "\f141"; }
.flaticon-ellipse:before { content: "\f142"; }
.flaticon-empty-calendar-page:before { content: "\f143"; }
.flaticon-exclamation-in-triangle:before { content: "\f144"; }
.flaticon-exclamation-mark-sign:before { content: "\f145"; }
.flaticon-expand-browser:before { content: "\f146"; }
.flaticon-export-archive:before { content: "\f147"; }
.flaticon-export-arrow:before { content: "\f148"; }
.flaticon-export-arrow-1:before { content: "\f149"; }
.flaticon-external-hard-drive:before { content: "\f14a"; }
.flaticon-favourite-star:before { content: "\f14b"; }
.flaticon-file-inbox:before { content: "\f14c"; }
.flaticon-flag-waving:before { content: "\f14d"; }
.flaticon-flying-airplane:before { content: "\f14e"; }
.flaticon-fowards-button:before { content: "\f14f"; }
.flaticon-fowards-button-1:before { content: "\f150"; }
.flaticon-front-layer-selection:before { content: "\f151"; }
.flaticon-frontal-glasses:before { content: "\f152"; }
.flaticon-full-circle:before { content: "\f153"; }
.flaticon-furnishing-drawers:before { content: "\f154"; }
.flaticon-geometric-shapes:before { content: "\f155"; }
.flaticon-go-back-button:before { content: "\f156"; }
.flaticon-gramophone-record:before { content: "\f157"; }
.flaticon-grid-world:before { content: "\f158"; }
.flaticon-gross-pencil:before { content: "\f159"; }
.flaticon-headphones:before { content: "\f15a"; }
.flaticon-hexagon:before { content: "\f15b"; }
.flaticon-home-company-window:before { content: "\f15c"; }
.flaticon-home-web-page:before { content: "\f15d"; }
.flaticon-image-fotogram:before { content: "\f15e"; }
.flaticon-inbox-symbol:before { content: "\f15f"; }
.flaticon-information-button:before { content: "\f160"; }
.flaticon-intertwined-arrows:before { content: "\f161"; }
.flaticon-ipod-classic:before { content: "\f162"; }
.flaticon-italic-symbol:before { content: "\f163"; }
.flaticon-joystick-game:before { content: "\f164"; }
.flaticon-justified-text:before { content: "\f165"; }
.flaticon-justify-button:before { content: "\f166"; }
.flaticon-key-arrow-down:before { content: "\f167"; }
.flaticon-key-back:before { content: "\f168"; }
.flaticon-key-up:before { content: "\f169"; }
.flaticon-keyboard:before { content: "\f16a"; }
.flaticon-keyhole-shape:before { content: "\f16b"; }
.flaticon-landscape-image:before { content: "\f16c"; }
.flaticon-laptop-frontal-monitor:before { content: "\f16d"; }
.flaticon-layer-button:before { content: "\f16e"; }
.flaticon-layer-button-1:before { content: "\f16f"; }
.flaticon-left-side-alignment:before { content: "\f170"; }
.flaticon-letter-b:before { content: "\f171"; }
.flaticon-light-bulb:before { content: "\f172"; }
.flaticon-liquid-drop:before { content: "\f173"; }
.flaticon-listed-items:before { content: "\f174"; }
.flaticon-loop:before { content: "\f175"; }
.flaticon-loop-ring:before { content: "\f176"; }
.flaticon-magnifying-glass-searcher:before { content: "\f177"; }
.flaticon-map-pointer:before { content: "\f178"; }
.flaticon-mark-ribbon:before { content: "\f179"; }
.flaticon-medic-folder:before { content: "\f17a"; }
.flaticon-minus-mark:before { content: "\f17b"; }
.flaticon-minus-symbol-inside-a-circle:before { content: "\f17c"; }
.flaticon-monitor-brightness-symbol:before { content: "\f17d"; }
.flaticon-mouse-arrow:before { content: "\f17e"; }
.flaticon-mouse-cursor:before { content: "\f17f"; }
.flaticon-navigation-arrow:before { content: "\f180"; }
.flaticon-note-blog:before { content: "\f181"; }
.flaticon-nurse-cross:before { content: "\f182"; }
.flaticon-on-off-power-button:before { content: "\f183"; }
.flaticon-open-envelope:before { content: "\f184"; }
.flaticon-opposite-directions:before { content: "\f185"; }
.flaticon-overlay:before { content: "\f186"; }
.flaticon-page-with-one-curled-corner:before { content: "\f187"; }
.flaticon-pair-of-glases:before { content: "\f188"; }
.flaticon-paragraph-center-side:before { content: "\f189"; }
.flaticon-pause-button:before { content: "\f18a"; }
.flaticon-pause-parallel-lines:before { content: "\f18b"; }
.flaticon-pentagon:before { content: "\f18c"; }
.flaticon-perfect-circle:before { content: "\f18d"; }
.flaticon-perfect-square:before { content: "\f18e"; }
.flaticon-personal-avatar:before { content: "\f18f"; }
.flaticon-photo-printer:before { content: "\f190"; }
.flaticon-photograph-camera:before { content: "\f191"; }
.flaticon-play-button:before { content: "\f192"; }
.flaticon-play-button-1:before { content: "\f193"; }
.flaticon-plug:before { content: "\f194"; }
.flaticon-pointing-up-arrow:before { content: "\f195"; }
.flaticon-press-play-button:before { content: "\f196"; }
.flaticon-printer:before { content: "\f197"; }
.flaticon-prohibition-circle:before { content: "\f198"; }
.flaticon-question-button:before { content: "\f199"; }
.flaticon-radio-microphone:before { content: "\f19a"; }
.flaticon-radioactive-sign:before { content: "\f19b"; }
.flaticon-reading-book:before { content: "\f19c"; }
.flaticon-redo-arrow:before { content: "\f19d"; }
.flaticon-refresh-arrow:before { content: "\f19e"; }
.flaticon-refresh-button:before { content: "\f19f"; }
.flaticon-refresh-page-arrow-button:before { content: "\f1a0"; }
.flaticon-refresh-page-arrow-inside-a-circle:before { content: "\f1a1"; }
.flaticon-refresh-page-arrow-shape:before { content: "\f1a2"; }
.flaticon-refresh-rondure:before { content: "\f1a3"; }
.flaticon-reload-webpage:before { content: "\f1a4"; }
.flaticon-resize-button:before { content: "\f1a5"; }
.flaticon-resize-length:before { content: "\f1a6"; }
.flaticon-rewind-circular-button:before { content: "\f1a7"; }
.flaticon-rewind-circular-button-1:before { content: "\f1a8"; }
.flaticon-rewind-symbol:before { content: "\f1a9"; }
.flaticon-ribbon-from-a-book:before { content: "\f1aa"; }
.flaticon-right-alignment:before { content: "\f1ab"; }
.flaticon-right-arrow-circle:before { content: "\f1ac"; }
.flaticon-rotate-circle:before { content: "\f1ad"; }
.flaticon-rotated-thin-ring-shape:before { content: "\f1ae"; }
.flaticon-rounded-corners-square:before { content: "\f1af"; }
.flaticon-rss-logo:before { content: "\f1b0"; }
.flaticon-ruler-tool:before { content: "\f1b1"; }
.flaticon-secure-systemt:before { content: "\f1b2"; }
.flaticon-selectioned-circle:before { content: "\f1b3"; }
.flaticon-share-symbol:before { content: "\f1b4"; }
.flaticon-shopping-cart-shop:before { content: "\f1b5"; }
.flaticon-sim-card:before { content: "\f1b6"; }
.flaticon-six-squares-tiles-for-interface:before { content: "\f1b7"; }
.flaticon-smartphone:before { content: "\f1b8"; }
.flaticon-song-note:before { content: "\f1b9"; }
.flaticon-sound-on:before { content: "\f1ba"; }
.flaticon-speaker-low-volume:before { content: "\f1bb"; }
.flaticon-speech-bubble-black:before { content: "\f1bc"; }
.flaticon-square-and-stripes:before { content: "\f1bd"; }
.flaticon-square-arrow-up:before { content: "\f1be"; }
.flaticon-square-compass-tool:before { content: "\f1bf"; }
.flaticon-square-left-button:before { content: "\f1c0"; }
.flaticon-square-pattern:before { content: "\f1c1"; }
.flaticon-square-with-four-rounded-corners:before { content: "\f1c2"; }
.flaticon-star-empty:before { content: "\f1c3"; }
.flaticon-start-button:before { content: "\f1c4"; }
.flaticon-supermarket-shopping-cart:before { content: "\f1c5"; }
.flaticon-table-with-three-cells:before { content: "\f1c6"; }
.flaticon-tablet:before { content: "\f1c7"; }
.flaticon-target-symbol:before { content: "\f1c8"; }
.flaticon-text-alphabet-a:before { content: "\f1c9"; }
.flaticon-text-box-tool:before { content: "\f1ca"; }
.flaticon-text-page:before { content: "\f1cb"; }
.flaticon-three-dots:before { content: "\f1cc"; }
.flaticon-tiny-key:before { content: "\f1cd"; }
.flaticon-triangle-inside-circle:before { content: "\f1ce"; }
.flaticon-triangle-left:before { content: "\f1cf"; }
.flaticon-triangle-pointing-up:before { content: "\f1d0"; }
.flaticon-triangle-shape:before { content: "\f1d1"; }
.flaticon-trip-handbag:before { content: "\f1d2"; }
.flaticon-turn-left-circle:before { content: "\f1d3"; }
.flaticon-turn-left-circle-1:before { content: "\f1d4"; }
.flaticon-turn-right:before { content: "\f1d5"; }
.flaticon-turn-right-arrow:before { content: "\f1d6"; }
.flaticon-turn-right-round:before { content: "\f1d7"; }
.flaticon-turn-right-sign:before { content: "\f1d8"; }
.flaticon-turn-triangle:before { content: "\f1d9"; }
.flaticon-tv-remote:before { content: "\f1da"; }
.flaticon-underlined-button:before { content: "\f1db"; }
.flaticon-undo-arrow:before { content: "\f1dc"; }
.flaticon-upload-archive:before { content: "\f1dd"; }
.flaticon-upload-arrow-in-a-circle:before { content: "\f1de"; }
.flaticon-uploading-file:before { content: "\f1df"; }
.flaticon-user-avatar:before { content: "\f1e0"; }
.flaticon-vector-grid:before { content: "\f1e1"; }
.flaticon-video-camera:before { content: "\f1e2"; }
.flaticon-wall-clock:before { content: "\f1e3"; }
.flaticon-warning-of-storm:before { content: "\f1e4"; }
.flaticon-watch-dark-eye:before { content: "\f1e5"; }
.flaticon-web-page-variant:before { content: "\f1e6"; }
.flaticon-window:before { content: "\f1e7"; }
.flaticon-window-back-button:before { content: "\f1e8"; }
.flaticon-woman-hand-bag:before { content: "\f1e9"; }
.flaticon-wrapped-gift:before { content: "\f1ea"; }
.flaticon-youtube-logo-square:before { content: "\f1eb"; }
.flaticon-zoom-out:before { content: "\f1ec"; }
.flaticon-zoom-tool:before { content: "\f1ed"; }
    
    $font-Flaticon-add-new-cloud: "\f100";
    $font-Flaticon-add-new-document: "\f101";
    $font-Flaticon-add-sign: "\f102";
    $font-Flaticon-advance-key: "\f103";
    $font-Flaticon-arrow-address-back: "\f104";
    $font-Flaticon-arrow-left-side: "\f105";
    $font-Flaticon-arrow-pointing-down: "\f106";
    $font-Flaticon-arrow-pointing-down-in-a-circle: "\f107";
    $font-Flaticon-arrow-pointing-right: "\f108";
    $font-Flaticon-arrow-pointing-up: "\f109";
    $font-Flaticon-arrow-up: "\f10a";
    $font-Flaticon-arrows-hitting: "\f10b";
    $font-Flaticon-back-arrow: "\f10c";
    $font-Flaticon-bank-sign: "\f10d";
    $font-Flaticon-bar-diagram: "\f10e";
    $font-Flaticon-battery-power: "\f10f";
    $font-Flaticon-big-ring: "\f110";
    $font-Flaticon-big-trash-container-from-side-view: "\f111";
    $font-Flaticon-biological-radioactive: "\f112";
    $font-Flaticon-bottom-back: "\f113";
    $font-Flaticon-box-document-paper: "\f114";
    $font-Flaticon-broadcast-microphone: "\f115";
    $font-Flaticon-button-advance-next-song: "\f116";
    $font-Flaticon-button-on-off: "\f117";
    $font-Flaticon-button-rewind: "\f118";
    $font-Flaticon-calculator: "\f119";
    $font-Flaticon-card-reader-sd-photos: "\f11a";
    $font-Flaticon-center-text: "\f11b";
    $font-Flaticon-chat-speech-bubbles: "\f11c";
    $font-Flaticon-checkered: "\f11d";
    $font-Flaticon-cinema-ticket: "\f11e";
    $font-Flaticon-cinema-ticket-1: "\f11f";
    $font-Flaticon-circular-cut: "\f120";
    $font-Flaticon-circular-stop-button: "\f121";
    $font-Flaticon-clip: "\f122";
    $font-Flaticon-close-envelope: "\f123";
    $font-Flaticon-closed-folder: "\f124";
    $font-Flaticon-cloud-full-of-rain: "\f125";
    $font-Flaticon-cloud-upload: "\f126";
    $font-Flaticon-computer-screen: "\f127";
    $font-Flaticon-computer-window: "\f128";
    $font-Flaticon-contrast-button: "\f129";
    $font-Flaticon-conversation-speech-bubbles: "\f12a";
    $font-Flaticon-covered-box: "\f12b";
    $font-Flaticon-create-list-button: "\f12c";
    $font-Flaticon-cross-sign: "\f12d";
    $font-Flaticon-curved-arrow: "\f12e";
    $font-Flaticon-cutting-tool-selection: "\f12f";
    $font-Flaticon-dark-quadrate: "\f130";
    $font-Flaticon-dark-triangle: "\f131";
    $font-Flaticon-day-27-calendar: "\f132";
    $font-Flaticon-delete-file: "\f133";
    $font-Flaticon-delete-file-from-cloud: "\f134";
    $font-Flaticon-directional-arrow-on-a-circle: "\f135";
    $font-Flaticon-divide-symbol: "\f136";
    $font-Flaticon-dot: "\f137";
    $font-Flaticon-down-arrow-button: "\f138";
    $font-Flaticon-down-arrow-in-circle: "\f139";
    $font-Flaticon-down-triangle-shape: "\f13a";
    $font-Flaticon-download-arrow: "\f13b";
    $font-Flaticon-download-file-from-cloud: "\f13c";
    $font-Flaticon-drawer: "\f13d";
    $font-Flaticon-duplicate-square: "\f13e";
    $font-Flaticon-eject-circular-button: "\f13f";
    $font-Flaticon-eject-symbol: "\f140";
    $font-Flaticon-electronic-print-machine: "\f141";
    $font-Flaticon-ellipse: "\f142";
    $font-Flaticon-empty-calendar-page: "\f143";
    $font-Flaticon-exclamation-in-triangle: "\f144";
    $font-Flaticon-exclamation-mark-sign: "\f145";
    $font-Flaticon-expand-browser: "\f146";
    $font-Flaticon-export-archive: "\f147";
    $font-Flaticon-export-arrow: "\f148";
    $font-Flaticon-export-arrow-1: "\f149";
    $font-Flaticon-external-hard-drive: "\f14a";
    $font-Flaticon-favourite-star: "\f14b";
    $font-Flaticon-file-inbox: "\f14c";
    $font-Flaticon-flag-waving: "\f14d";
    $font-Flaticon-flying-airplane: "\f14e";
    $font-Flaticon-fowards-button: "\f14f";
    $font-Flaticon-fowards-button-1: "\f150";
    $font-Flaticon-front-layer-selection: "\f151";
    $font-Flaticon-frontal-glasses: "\f152";
    $font-Flaticon-full-circle: "\f153";
    $font-Flaticon-furnishing-drawers: "\f154";
    $font-Flaticon-geometric-shapes: "\f155";
    $font-Flaticon-go-back-button: "\f156";
    $font-Flaticon-gramophone-record: "\f157";
    $font-Flaticon-grid-world: "\f158";
    $font-Flaticon-gross-pencil: "\f159";
    $font-Flaticon-headphones: "\f15a";
    $font-Flaticon-hexagon: "\f15b";
    $font-Flaticon-home-company-window: "\f15c";
    $font-Flaticon-home-web-page: "\f15d";
    $font-Flaticon-image-fotogram: "\f15e";
    $font-Flaticon-inbox-symbol: "\f15f";
    $font-Flaticon-information-button: "\f160";
    $font-Flaticon-intertwined-arrows: "\f161";
    $font-Flaticon-ipod-classic: "\f162";
    $font-Flaticon-italic-symbol: "\f163";
    $font-Flaticon-joystick-game: "\f164";
    $font-Flaticon-justified-text: "\f165";
    $font-Flaticon-justify-button: "\f166";
    $font-Flaticon-key-arrow-down: "\f167";
    $font-Flaticon-key-back: "\f168";
    $font-Flaticon-key-up: "\f169";
    $font-Flaticon-keyboard: "\f16a";
    $font-Flaticon-keyhole-shape: "\f16b";
    $font-Flaticon-landscape-image: "\f16c";
    $font-Flaticon-laptop-frontal-monitor: "\f16d";
    $font-Flaticon-layer-button: "\f16e";
    $font-Flaticon-layer-button-1: "\f16f";
    $font-Flaticon-left-side-alignment: "\f170";
    $font-Flaticon-letter-b: "\f171";
    $font-Flaticon-light-bulb: "\f172";
    $font-Flaticon-liquid-drop: "\f173";
    $font-Flaticon-listed-items: "\f174";
    $font-Flaticon-loop: "\f175";
    $font-Flaticon-loop-ring: "\f176";
    $font-Flaticon-magnifying-glass-searcher: "\f177";
    $font-Flaticon-map-pointer: "\f178";
    $font-Flaticon-mark-ribbon: "\f179";
    $font-Flaticon-medic-folder: "\f17a";
    $font-Flaticon-minus-mark: "\f17b";
    $font-Flaticon-minus-symbol-inside-a-circle: "\f17c";
    $font-Flaticon-monitor-brightness-symbol: "\f17d";
    $font-Flaticon-mouse-arrow: "\f17e";
    $font-Flaticon-mouse-cursor: "\f17f";
    $font-Flaticon-navigation-arrow: "\f180";
    $font-Flaticon-note-blog: "\f181";
    $font-Flaticon-nurse-cross: "\f182";
    $font-Flaticon-on-off-power-button: "\f183";
    $font-Flaticon-open-envelope: "\f184";
    $font-Flaticon-opposite-directions: "\f185";
    $font-Flaticon-overlay: "\f186";
    $font-Flaticon-page-with-one-curled-corner: "\f187";
    $font-Flaticon-pair-of-glases: "\f188";
    $font-Flaticon-paragraph-center-side: "\f189";
    $font-Flaticon-pause-button: "\f18a";
    $font-Flaticon-pause-parallel-lines: "\f18b";
    $font-Flaticon-pentagon: "\f18c";
    $font-Flaticon-perfect-circle: "\f18d";
    $font-Flaticon-perfect-square: "\f18e";
    $font-Flaticon-personal-avatar: "\f18f";
    $font-Flaticon-photo-printer: "\f190";
    $font-Flaticon-photograph-camera: "\f191";
    $font-Flaticon-play-button: "\f192";
    $font-Flaticon-play-button-1: "\f193";
    $font-Flaticon-plug: "\f194";
    $font-Flaticon-pointing-up-arrow: "\f195";
    $font-Flaticon-press-play-button: "\f196";
    $font-Flaticon-printer: "\f197";
    $font-Flaticon-prohibition-circle: "\f198";
    $font-Flaticon-question-button: "\f199";
    $font-Flaticon-radio-microphone: "\f19a";
    $font-Flaticon-radioactive-sign: "\f19b";
    $font-Flaticon-reading-book: "\f19c";
    $font-Flaticon-redo-arrow: "\f19d";
    $font-Flaticon-refresh-arrow: "\f19e";
    $font-Flaticon-refresh-button: "\f19f";
    $font-Flaticon-refresh-page-arrow-button: "\f1a0";
    $font-Flaticon-refresh-page-arrow-inside-a-circle: "\f1a1";
    $font-Flaticon-refresh-page-arrow-shape: "\f1a2";
    $font-Flaticon-refresh-rondure: "\f1a3";
    $font-Flaticon-reload-webpage: "\f1a4";
    $font-Flaticon-resize-button: "\f1a5";
    $font-Flaticon-resize-length: "\f1a6";
    $font-Flaticon-rewind-circular-button: "\f1a7";
    $font-Flaticon-rewind-circular-button-1: "\f1a8";
    $font-Flaticon-rewind-symbol: "\f1a9";
    $font-Flaticon-ribbon-from-a-book: "\f1aa";
    $font-Flaticon-right-alignment: "\f1ab";
    $font-Flaticon-right-arrow-circle: "\f1ac";
    $font-Flaticon-rotate-circle: "\f1ad";
    $font-Flaticon-rotated-thin-ring-shape: "\f1ae";
    $font-Flaticon-rounded-corners-square: "\f1af";
    $font-Flaticon-rss-logo: "\f1b0";
    $font-Flaticon-ruler-tool: "\f1b1";
    $font-Flaticon-secure-systemt: "\f1b2";
    $font-Flaticon-selectioned-circle: "\f1b3";
    $font-Flaticon-share-symbol: "\f1b4";
    $font-Flaticon-shopping-cart-shop: "\f1b5";
    $font-Flaticon-sim-card: "\f1b6";
    $font-Flaticon-six-squares-tiles-for-interface: "\f1b7";
    $font-Flaticon-smartphone: "\f1b8";
    $font-Flaticon-song-note: "\f1b9";
    $font-Flaticon-sound-on: "\f1ba";
    $font-Flaticon-speaker-low-volume: "\f1bb";
    $font-Flaticon-speech-bubble-black: "\f1bc";
    $font-Flaticon-square-and-stripes: "\f1bd";
    $font-Flaticon-square-arrow-up: "\f1be";
    $font-Flaticon-square-compass-tool: "\f1bf";
    $font-Flaticon-square-left-button: "\f1c0";
    $font-Flaticon-square-pattern: "\f1c1";
    $font-Flaticon-square-with-four-rounded-corners: "\f1c2";
    $font-Flaticon-star-empty: "\f1c3";
    $font-Flaticon-start-button: "\f1c4";
    $font-Flaticon-supermarket-shopping-cart: "\f1c5";
    $font-Flaticon-table-with-three-cells: "\f1c6";
    $font-Flaticon-tablet: "\f1c7";
    $font-Flaticon-target-symbol: "\f1c8";
    $font-Flaticon-text-alphabet-a: "\f1c9";
    $font-Flaticon-text-box-tool: "\f1ca";
    $font-Flaticon-text-page: "\f1cb";
    $font-Flaticon-three-dots: "\f1cc";
    $font-Flaticon-tiny-key: "\f1cd";
    $font-Flaticon-triangle-inside-circle: "\f1ce";
    $font-Flaticon-triangle-left: "\f1cf";
    $font-Flaticon-triangle-pointing-up: "\f1d0";
    $font-Flaticon-triangle-shape: "\f1d1";
    $font-Flaticon-trip-handbag: "\f1d2";
    $font-Flaticon-turn-left-circle: "\f1d3";
    $font-Flaticon-turn-left-circle-1: "\f1d4";
    $font-Flaticon-turn-right: "\f1d5";
    $font-Flaticon-turn-right-arrow: "\f1d6";
    $font-Flaticon-turn-right-round: "\f1d7";
    $font-Flaticon-turn-right-sign: "\f1d8";
    $font-Flaticon-turn-triangle: "\f1d9";
    $font-Flaticon-tv-remote: "\f1da";
    $font-Flaticon-underlined-button: "\f1db";
    $font-Flaticon-undo-arrow: "\f1dc";
    $font-Flaticon-upload-archive: "\f1dd";
    $font-Flaticon-upload-arrow-in-a-circle: "\f1de";
    $font-Flaticon-uploading-file: "\f1df";
    $font-Flaticon-user-avatar: "\f1e0";
    $font-Flaticon-vector-grid: "\f1e1";
    $font-Flaticon-video-camera: "\f1e2";
    $font-Flaticon-wall-clock: "\f1e3";
    $font-Flaticon-warning-of-storm: "\f1e4";
    $font-Flaticon-watch-dark-eye: "\f1e5";
    $font-Flaticon-web-page-variant: "\f1e6";
    $font-Flaticon-window: "\f1e7";
    $font-Flaticon-window-back-button: "\f1e8";
    $font-Flaticon-woman-hand-bag: "\f1e9";
    $font-Flaticon-wrapped-gift: "\f1ea";
    $font-Flaticon-youtube-logo-square: "\f1eb";
    $font-Flaticon-zoom-out: "\f1ec";
    $font-Flaticon-zoom-tool: "\f1ed";