	/*
  	Flaticon icon font: Flaticon
  	Creation date: 19/02/2016 14:43
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-add-new-cloud:before { content: "\f100"; }
.flaticon-add-new-document:before { content: "\f101"; }
.flaticon-add-sign:before { content: "\f102"; }
.flaticon-advance-key:before { content: "\f103"; }
.flaticon-arrow-address-back:before { content: "\f104"; }
.flaticon-arrow-left-side:before { content: "\f105"; }
.flaticon-arrow-pointing-down:before { content: "\f106"; }
.flaticon-arrow-pointing-down-in-a-circle:before { content: "\f107"; }
.flaticon-arrow-pointing-right:before { content: "\f108"; }
.flaticon-arrow-pointing-up:before { content: "\f109"; }
.flaticon-arrow-up:before { content: "\f10a"; }
.flaticon-arrows-hitting:before { content: "\f10b"; }
.flaticon-back-arrow:before { content: "\f10c"; }
.flaticon-bank-sign:before { content: "\f10d"; }
.flaticon-bar-diagram:before { content: "\f10e"; }
.flaticon-battery-power:before { content: "\f10f"; }
.flaticon-big-ring:before { content: "\f110"; }
.flaticon-big-trash-container-from-side-view:before { content: "\f111"; }
.flaticon-biological-radioactive:before { content: "\f112"; }
.flaticon-bottom-back:before { content: "\f113"; }
.flaticon-box-document-paper:before { content: "\f114"; }
.flaticon-broadcast-microphone:before { content: "\f115"; }
.flaticon-button-advance-next-song:before { content: "\f116"; }
.flaticon-button-on-off:before { content: "\f117"; }
.flaticon-button-rewind:before { content: "\f118"; }
.flaticon-calculator:before { content: "\f119"; }
.flaticon-card-reader-sd-photos:before { content: "\f11a"; }
.flaticon-center-text:before { content: "\f11b"; }
.flaticon-chat-speech-bubbles:before { content: "\f11c"; }
.flaticon-checkered:before { content: "\f11d"; }
.flaticon-cinema-ticket:before { content: "\f11e"; }
.flaticon-cinema-ticket-1:before { content: "\f11f"; }
.flaticon-circular-cut:before { content: "\f120"; }
.flaticon-circular-stop-button:before { content: "\f121"; }
.flaticon-clip:before { content: "\f122"; }
.flaticon-close-envelope:before { content: "\f123"; }
.flaticon-closed-folder:before { content: "\f124"; }
.flaticon-cloud-full-of-rain:before { content: "\f125"; }
.flaticon-cloud-upload:before { content: "\f126"; }
.flaticon-computer-screen:before { content: "\f127"; }
.flaticon-computer-window:before { content: "\f128"; }
.flaticon-contrast-button:before { content: "\f129"; }
.flaticon-conversation-speech-bubbles:before { content: "\f12a"; }
.flaticon-covered-box:before { content: "\f12b"; }
.flaticon-create-list-button:before { content: "\f12c"; }
.flaticon-cross-sign:before { content: "\f12d"; }
.flaticon-curved-arrow:before { content: "\f12e"; }
.flaticon-cutting-tool-selection:before { content: "\f12f"; }
.flaticon-dark-quadrate:before { content: "\f130"; }
.flaticon-dark-triangle:before { content: "\f131"; }
.flaticon-day-27-calendar:before { content: "\f132"; }
.flaticon-delete-file:before { content: "\f133"; }
.flaticon-delete-file-from-cloud:before { content: "\f134"; }
.flaticon-directional-arrow-on-a-circle:before { content: "\f135"; }
.flaticon-divide-symbol:before { content: "\f136"; }
.flaticon-dot:before { content: "\f137"; }
.flaticon-down-arrow-button:before { content: "\f138"; }
.flaticon-down-arrow-in-circle:before { content: "\f139"; }
.flaticon-down-triangle-shape:before { content: "\f13a"; }
.flaticon-download-arrow:before { content: "\f13b"; }
.flaticon-download-file-from-cloud:before { content: "\f13c"; }
.flaticon-drawer:before { content: "\f13d"; }
.flaticon-duplicate-square:before { content: "\f13e"; }
.flaticon-eject-circular-button:before { content: "\f13f"; }
.flaticon-eject-symbol:before { content: "\f140"; }
.flaticon-electronic-print-machine:before { content: "\f141"; }
.flaticon-ellipse:before { content: "\f142"; }
.flaticon-empty-calendar-page:before { content: "\f143"; }
.flaticon-exclamation-in-triangle:before { content: "\f144"; }
.flaticon-exclamation-mark-sign:before { content: "\f145"; }
.flaticon-expand-browser:before { content: "\f146"; }
.flaticon-export-archive:before { content: "\f147"; }
.flaticon-export-arrow:before { content: "\f148"; }
.flaticon-export-arrow-1:before { content: "\f149"; }
.flaticon-external-hard-drive:before { content: "\f14a"; }
.flaticon-favourite-star:before { content: "\f14b"; }
.flaticon-file-inbox:before { content: "\f14c"; }
.flaticon-flag-waving:before { content: "\f14d"; }
.flaticon-flying-airplane:before { content: "\f14e"; }
.flaticon-fowards-button:before { content: "\f14f"; }
.flaticon-fowards-button-1:before { content: "\f150"; }
.flaticon-front-layer-selection:before { content: "\f151"; }
.flaticon-frontal-glasses:before { content: "\f152"; }
.flaticon-full-circle:before { content: "\f153"; }
.flaticon-furnishing-drawers:before { content: "\f154"; }
.flaticon-geometric-shapes:before { content: "\f155"; }
.flaticon-go-back-button:before { content: "\f156"; }
.flaticon-gramophone-record:before { content: "\f157"; }
.flaticon-grid-world:before { content: "\f158"; }
.flaticon-gross-pencil:before { content: "\f159"; }
.flaticon-headphones:before { content: "\f15a"; }
.flaticon-hexagon:before { content: "\f15b"; }
.flaticon-home-company-window:before { content: "\f15c"; }
.flaticon-home-web-page:before { content: "\f15d"; }
.flaticon-image-fotogram:before { content: "\f15e"; }
.flaticon-inbox-symbol:before { content: "\f15f"; }
.flaticon-information-button:before { content: "\f160"; }
.flaticon-intertwined-arrows:before { content: "\f161"; }
.flaticon-ipod-classic:before { content: "\f162"; }
.flaticon-italic-symbol:before { content: "\f163"; }
.flaticon-joystick-game:before { content: "\f164"; }
.flaticon-justified-text:before { content: "\f165"; }
.flaticon-justify-button:before { content: "\f166"; }
.flaticon-key-arrow-down:before { content: "\f167"; }
.flaticon-key-back:before { content: "\f168"; }
.flaticon-key-up:before { content: "\f169"; }
.flaticon-keyboard:before { content: "\f16a"; }
.flaticon-keyhole-shape:before { content: "\f16b"; }
.flaticon-landscape-image:before { content: "\f16c"; }
.flaticon-laptop-frontal-monitor:before { content: "\f16d"; }
.flaticon-layer-button:before { content: "\f16e"; }
.flaticon-layer-button-1:before { content: "\f16f"; }
.flaticon-left-side-alignment:before { content: "\f170"; }
.flaticon-letter-b:before { content: "\f171"; }
.flaticon-light-bulb:before { content: "\f172"; }
.flaticon-liquid-drop:before { content: "\f173"; }
.flaticon-listed-items:before { content: "\f174"; }
.flaticon-loop:before { content: "\f175"; }
.flaticon-loop-ring:before { content: "\f176"; }
.flaticon-magnifying-glass-searcher:before { content: "\f177"; }
.flaticon-map-pointer:before { content: "\f178"; }
.flaticon-mark-ribbon:before { content: "\f179"; }
.flaticon-medic-folder:before { content: "\f17a"; }
.flaticon-minus-mark:before { content: "\f17b"; }
.flaticon-minus-symbol-inside-a-circle:before { content: "\f17c"; }
.flaticon-monitor-brightness-symbol:before { content: "\f17d"; }
.flaticon-mouse-arrow:before { content: "\f17e"; }
.flaticon-mouse-cursor:before { content: "\f17f"; }
.flaticon-navigation-arrow:before { content: "\f180"; }
.flaticon-note-blog:before { content: "\f181"; }
.flaticon-nurse-cross:before { content: "\f182"; }
.flaticon-on-off-power-button:before { content: "\f183"; }
.flaticon-open-envelope:before { content: "\f184"; }
.flaticon-opposite-directions:before { content: "\f185"; }
.flaticon-overlay:before { content: "\f186"; }
.flaticon-page-with-one-curled-corner:before { content: "\f187"; }
.flaticon-pair-of-glases:before { content: "\f188"; }
.flaticon-paragraph-center-side:before { content: "\f189"; }
.flaticon-pause-button:before { content: "\f18a"; }
.flaticon-pause-parallel-lines:before { content: "\f18b"; }
.flaticon-pentagon:before { content: "\f18c"; }
.flaticon-perfect-circle:before { content: "\f18d"; }
.flaticon-perfect-square:before { content: "\f18e"; }
.flaticon-personal-avatar:before { content: "\f18f"; }
.flaticon-photo-printer:before { content: "\f190"; }
.flaticon-photograph-camera:before { content: "\f191"; }
.flaticon-play-button:before { content: "\f192"; }
.flaticon-play-button-1:before { content: "\f193"; }
.flaticon-plug:before { content: "\f194"; }
.flaticon-pointing-up-arrow:before { content: "\f195"; }
.flaticon-press-play-button:before { content: "\f196"; }
.flaticon-printer:before { content: "\f197"; }
.flaticon-prohibition-circle:before { content: "\f198"; }
.flaticon-question-button:before { content: "\f199"; }
.flaticon-radio-microphone:before { content: "\f19a"; }
.flaticon-radioactive-sign:before { content: "\f19b"; }
.flaticon-reading-book:before { content: "\f19c"; }
.flaticon-redo-arrow:before { content: "\f19d"; }
.flaticon-refresh-arrow:before { content: "\f19e"; }
.flaticon-refresh-button:before { content: "\f19f"; }
.flaticon-refresh-page-arrow-button:before { content: "\f1a0"; }
.flaticon-refresh-page-arrow-inside-a-circle:before { content: "\f1a1"; }
.flaticon-refresh-page-arrow-shape:before { content: "\f1a2"; }
.flaticon-refresh-rondure:before { content: "\f1a3"; }
.flaticon-reload-webpage:before { content: "\f1a4"; }
.flaticon-resize-button:before { content: "\f1a5"; }
.flaticon-resize-length:before { content: "\f1a6"; }
.flaticon-rewind-circular-button:before { content: "\f1a7"; }
.flaticon-rewind-circular-button-1:before { content: "\f1a8"; }
.flaticon-rewind-symbol:before { content: "\f1a9"; }
.flaticon-ribbon-from-a-book:before { content: "\f1aa"; }
.flaticon-right-alignment:before { content: "\f1ab"; }
.flaticon-right-arrow-circle:before { content: "\f1ac"; }
.flaticon-rotate-circle:before { content: "\f1ad"; }
.flaticon-rotated-thin-ring-shape:before { content: "\f1ae"; }
.flaticon-rounded-corners-square:before { content: "\f1af"; }
.flaticon-rss-logo:before { content: "\f1b0"; }
.flaticon-ruler-tool:before { content: "\f1b1"; }
.flaticon-secure-systemt:before { content: "\f1b2"; }
.flaticon-selectioned-circle:before { content: "\f1b3"; }
.flaticon-share-symbol:before { content: "\f1b4"; }
.flaticon-shopping-cart-shop:before { content: "\f1b5"; }
.flaticon-sim-card:before { content: "\f1b6"; }
.flaticon-six-squares-tiles-for-interface:before { content: "\f1b7"; }
.flaticon-smartphone:before { content: "\f1b8"; }
.flaticon-song-note:before { content: "\f1b9"; }
.flaticon-sound-on:before { content: "\f1ba"; }
.flaticon-speaker-low-volume:before { content: "\f1bb"; }
.flaticon-speech-bubble-black:before { content: "\f1bc"; }
.flaticon-square-and-stripes:before { content: "\f1bd"; }
.flaticon-square-arrow-up:before { content: "\f1be"; }
.flaticon-square-compass-tool:before { content: "\f1bf"; }
.flaticon-square-left-button:before { content: "\f1c0"; }
.flaticon-square-pattern:before { content: "\f1c1"; }
.flaticon-square-with-four-rounded-corners:before { content: "\f1c2"; }
.flaticon-star-empty:before { content: "\f1c3"; }
.flaticon-start-button:before { content: "\f1c4"; }
.flaticon-supermarket-shopping-cart:before { content: "\f1c5"; }
.flaticon-table-with-three-cells:before { content: "\f1c6"; }
.flaticon-tablet:before { content: "\f1c7"; }
.flaticon-target-symbol:before { content: "\f1c8"; }
.flaticon-text-alphabet-a:before { content: "\f1c9"; }
.flaticon-text-box-tool:before { content: "\f1ca"; }
.flaticon-text-page:before { content: "\f1cb"; }
.flaticon-three-dots:before { content: "\f1cc"; }
.flaticon-tiny-key:before { content: "\f1cd"; }
.flaticon-triangle-inside-circle:before { content: "\f1ce"; }
.flaticon-triangle-left:before { content: "\f1cf"; }
.flaticon-triangle-pointing-up:before { content: "\f1d0"; }
.flaticon-triangle-shape:before { content: "\f1d1"; }
.flaticon-trip-handbag:before { content: "\f1d2"; }
.flaticon-turn-left-circle:before { content: "\f1d3"; }
.flaticon-turn-left-circle-1:before { content: "\f1d4"; }
.flaticon-turn-right:before { content: "\f1d5"; }
.flaticon-turn-right-arrow:before { content: "\f1d6"; }
.flaticon-turn-right-round:before { content: "\f1d7"; }
.flaticon-turn-right-sign:before { content: "\f1d8"; }
.flaticon-turn-triangle:before { content: "\f1d9"; }
.flaticon-tv-remote:before { content: "\f1da"; }
.flaticon-underlined-button:before { content: "\f1db"; }
.flaticon-undo-arrow:before { content: "\f1dc"; }
.flaticon-upload-archive:before { content: "\f1dd"; }
.flaticon-upload-arrow-in-a-circle:before { content: "\f1de"; }
.flaticon-uploading-file:before { content: "\f1df"; }
.flaticon-user-avatar:before { content: "\f1e0"; }
.flaticon-vector-grid:before { content: "\f1e1"; }
.flaticon-video-camera:before { content: "\f1e2"; }
.flaticon-wall-clock:before { content: "\f1e3"; }
.flaticon-warning-of-storm:before { content: "\f1e4"; }
.flaticon-watch-dark-eye:before { content: "\f1e5"; }
.flaticon-web-page-variant:before { content: "\f1e6"; }
.flaticon-window:before { content: "\f1e7"; }
.flaticon-window-back-button:before { content: "\f1e8"; }
.flaticon-woman-hand-bag:before { content: "\f1e9"; }
.flaticon-wrapped-gift:before { content: "\f1ea"; }
.flaticon-youtube-logo-square:before { content: "\f1eb"; }
.flaticon-zoom-out:before { content: "\f1ec"; }
.flaticon-zoom-tool:before { content: "\f1ed"; }